h1 {color: red;
    background-color: aliceblue;
    margin: 25px 20px 30px 40px;}
p, li {color: green;}
body {background-color: pink;}
li.special {color: orange; 
        font-weight: bold;
        font-size: 25px;}
span.special {color: brown;
                font-weight: bold;}
li em {color: rebeccapurple;}
p em {color: darkred}
h1 + p {font-size: 200%;
        background-color: violet;
        padding: 5px 5px 7px 8px;}
a:link {color: pink;
        padding: 1px; 1px; 3px; 5px;
        }
a:hover {color: green;
        font-weight: bold;}
a:visited {color: blueviolet;}
body h1 + p {
    color: yellow;
    background-color: black;
    padding: 5px 6px 10px 12px;
  }


  
